<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle> Revenue </ion-card-subtitle>

            <ion-card-title> $12,450 </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="12" sizeMd="6" sizeLg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle> Orders </ion-card-subtitle>

            <ion-card-title> 328 </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="12" sizeMd="6" sizeLg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle> Customers </ion-card-subtitle>

            <ion-card-title> 1,842 </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="12" sizeMd="6" sizeLg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle> Conversion </ion-card-subtitle>

            <ion-card-title> 8.6% </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
