<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back-outline"> </ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title> Product Details </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="heart-outline"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Welcome Back!</h2>

  <p>
    This page demonstrates the basic structure of an Ionic application using Ion
    Components.
  </p>

  <ion-button routerLink="/buttons" routerDirection="forward"
    >Buttons</ion-button
  >

  <ion-button routerLink="/cards" routerDirection="forward">Cards</ion-button>

  <ion-button routerLink="/lists" routerDirection="forward">List</ion-button>

  <ion-button routerLink="/grids" routerDirection="forward">Grid</ion-button>

  <ion-button routerLink="/segment" routerDirection="forward"
    >Segment</ion-button
  >

  <ion-button routerLink="/tabs" routerDirection="forward">Tabs</ion-button>

  <ion-button routerLink="/menu" routerDirection="forward">Menu</ion-button>

  <ion-button routerLink="/toolbar" routerDirection="forward"
    >Toolbar</ion-button
  >

  <h3>Go to page</h3>
  <ion-button routerLink="/profile" routerDirection="forward"
    >Profile</ion-button
  >

  <ion-button routerLink="/settings" routerDirection="forward"
    >Settings</ion-button
  >

  <ion-button routerLink="/login" routerDirection="forward">Login</ion-button>

  <ion-button routerLink="/register" routerDirection="forward"
    >Register</ion-button
  >

  <ion-button routerLink="/product" routerDirection="forward"
    >Product</ion-button
  >

  <ion-button routerLink="/dashboard" routerDirection="forward"
    >Dashboard</ion-button
  >
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small"> Built with Ionic 8 & Angular 21 </ion-title>
  </ion-toolbar>
</ion-footer>
