<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label> Account </ion-label>
    </ion-list-header>

    <ion-item routerLink="/profile">
      <ion-icon slot="start" name="person-outline"> </ion-icon>

      <ion-label>
        <h2>Profile</h2>
        <p>Manage your personal information</p>
      </ion-label>

      <ion-icon slot="end" name="chevron-forward-outline"> </ion-icon>
    </ion-item>

    <ion-item routerLink="/security">
      <ion-icon slot="start" name="lock-closed-outline"> </ion-icon>

      <ion-label>
        <h2>Security</h2>
        <p>Password and authentication</p>
      </ion-label>

      <ion-icon slot="end" name="chevron-forward-outline"> </ion-icon>
    </ion-item>

    <ion-list-header>
      <ion-label> Preferences </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="notifications-outline"> </ion-icon>

      <ion-label> Notifications </ion-label>

      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="moon-outline"> </ion-icon>

      <ion-label> Dark Mode </ion-label>

      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
